.outer{
    background-image: url("../../../assets/images/producttmageOne.jpg");
    background-size: cover;
}

tr:hover{
    background-color: violet;
}

button:hover{
    background-color: tomato;
}

.btn-secondary{
    margin-top: 2%;
    margin-left: 2%;
}

.border{
    opacity: 10;
}