<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                            Signup
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" formControlName="userName" placeholder="Enter username">
                                </div>
                                <span *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required', 'userName')"
                                    style="color: red;">
                                    *This field is required
                                </span>
                            </div>

                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input type="email" formControlName="email" placeholder="Enter email">
                                </div>
                                <span
                                    *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')"
                                    style="color: red;">
                                    *This field is reqiured
                                </span>
                            </div>

                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-phone p-2"></span>
                                    <input type="text" formControlName="phone" placeholder="Enter Your number">
                                </div>
                                <span *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required', 'phone')"
                                    style="color: red;">
                                    *This field is required
                                </span>
                            </div>

                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" formControlName="password" placeholder="Enter password">
                                    <span (click)="hideShow()" class="fa {{eyeIcon}} p-2"></span>
                                </div>
                                <span
                                    *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')"
                                    style="color: red;">
                                    *This field is required
                                </span>
                            </div>
                            <button class="btn btn-outline-primary btn-lock mt-4 w-100"
                                type="submit"> Signup </button>
                            <div class="text-center pt-4 text-muted">
                                Already have account? <a id="forgetPass" routerLink="/login" routerLinkActive="Active">
                                    Login </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>