<div class="container p-1">
    <div class="row">
        <h3 class="text-center" style="color: blue;font-style: italic;"> Add Address Form </h3>
    </div>
    <div class="border p-2">
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label> Address Type </label>
                   <select id="type" name="type" formControlName="addressType" class="form-select" required>
                        <option selected disabled> ----- Select Address Type------</option>
                        <option value="billing"> Billing </option>
                        <option value="shipping"> Shipping </option>
                   </select>
                </div>


                <div class="form-group mb-3">
                    <label> Contact Person </label>
                    <input type="text" class="form-control form-input" formControlName="contactPerson" id="contactPerson" name="contactPerson"
                        placeholder="Enter the name of person we can contact" />
                </div>
                
                <div class="form-group mb-3">
                    <label> Shipping Address </label>
                    <textarea type="textarea" class="form-control" rows="3" formControlName="shippingAddress" required> </textarea>
                </div>

                
            
                <div class="form-group mb-3">
                    <label> Country </label>
                    <input type="text" class="form-control" id="country" name="country" formControlName="country"
                        placeholder="Enter your Country">
                </div>
                
            
                <div class="form-group mb-3">
                    <label> City </label>
                    <input type="text" class="form-control" id="city" name="city" formControlName="city"
                        placeholder="Enter your City">
                </div>
                
                <div class="form-group mb-3">
                    <label> State </label>
                    <input type="text" class="form-control" id="state" name="state" formControlName="state" placeholder="Enter your state">
                </div>

                <div class="form-group mb-3">
                    <label> Zip Code </label>
                    <input type="number" max="6" class="form-control" id="zipCode" name="zipCode" formControlName="zipCode" placeholder="Enter your Zip Code">
                </div>
                


                <div class="form-group mb-3">
                    <label> Phone Number </label>
                    <input type="number" maxlength="10" class="form-control" id="phone" name="phone" formControlName="contactNumber"
                        placeholder="Enter your Phone number">
                </div>


            <button type="submit" class="btn btn-outline-success" style="width:30%;"> Add Address </button>
            <button class="btn btn-outline-secondary" routerLink="/dashboard" style="width:30%;margin-left: 10%;">
                Back to list </button>
        </form>
    </div>
</div>