<button class="btn btn-info m-2" routerLink="/dashboard"> Go to Dashboard </button>




<div class="container m-3 p-2">
    <div class="border m-1 p-1">
        <div class="row m-1 p-1">
            <div class="col-6">
                <button class="btn btn-outline-info" style="width: 30%;" routerLink="/add-address"> Add Address
                </button>
            </div>
            <div class="col-6">
                <h3 class="text-start" style="font-weight: bold;"> Address List </h3>
            </div>
        </div>
        <table class="table-bordered table-striped w-100 text-center">
            <thead>
                <tr>
                    <th> Address </th>
                    <th> Address Type </th>
                    <th> Country </th>
                    <th> State </th>
                    <th> City </th>
                    <th> ZipCode </th>
                    <th> Contact Person </th>
                    <th> Contact Number </th>
                </tr>
            </thead>
            <tbody style="height: 20%;">
                <tr *ngFor="let address of addresses">
                    <td> {{address.shippingAddress}} </td>
                    <td> {{address.addressType}} </td>
                    <td> {{address.country}} </td>
                    <td> {{address.state}} </td>
                    <td> {{address.city}} </td>
                    <td> {{address.zipCode}} </td>
                    <td> {{address.contactPerson}} </td>
                    <td> {{address.contactNumber}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>